<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<form name="memo" method="post" action="/rest/users/insert">
    name <input type="text" name="user_name"/>
    <br>
    id <input type="text" name="user_id"/>
    <button type="submit" >Submit</button>
</form>
</body>
</html>